<div class="row">
  <div class="6u 12u(narrower)">

    <section>
      <span class="icon featured fa-bullseye"></span>
      <header>
        <h3>Mission Statement</h3>
      </header>
      <p>The <strong>Software Engineering Club</strong> is here to encourage members who have a passion for software development. We provide social activities and workshops to allow members to learn more about the field as well as engage with fellow colleagues.</p>
    </section>

  </div>
  <div class="6u 12u(narrower)">

    <section>
      <span class="icon featured fa-users"></span>
      <header>
        <h3>Who Are We?</h3>
      </header>
      <p>The <strong>Software Engineering Club</strong> is a student run organization that promotes a variety of events every year. We have members from Mechatronics Engineering, Software Engineering and Computer Science..</p>
    </section>

  </div>
</div>
