<header>
  <h2>Have any questions?</h2>
  <p>Feel free to contact us for any business or social inquiries,<br> or if you have any questions about our club in general.</p>
</header>
<footer>
  <ul class="buttons">
    <li><a href="mailto:sec@mcmaster.ca" class="button special">Contact Us</a></li>
  </ul>
</footer>
