<h1 id="logo"><a href="index.html">Software Engineering Club</a></h1>
<nav id="nav">
  <ul>
    <li class="current"><a href="index.html">Home</a></li>
    <li><a href="events.html">Events</a></li>
    <% if user_signed_in? %>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
     <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
     <% end %>
  </ul>
</nav>
