<div class="row 50%">
  <div class="12u 12u(narrower)">

    <header>
      <h2>Upcoming Event: T-Shirt Design Contest</h2>
    </header>

    <h3><strong>How It Works</strong></h3>

    <p>Send your designs OR ideas to our email before February 10th at midnight (If you have terrible art skills, don't worry, we can help!). The designs are then voted on and the winning one gets sold. The winning design receives a <strong>free t-shirt</strong> with their design on it!</p>

    <h3><strong>Rules</strong></h3>

    <p>You don't have to be a CAS student to submit a design BUT the design has to be related to computing and software. Put <strong><i>"SEC DESIGN CONTEST"</i></strong> in the subject line of the email and don't forget to put your full name in it too!</p>

    <p>
      <strong>DUE DATE:</strong> February 10th, 2017 <br>
      <strong>EMAIL:</strong> sec@mcmaster.ca
    </p>

    <footer>
      <ul class="buttons">
        <li><a href="https://www.facebook.com/events/330089654054036/" class="button">Find Out More</a></li>
      </ul>
    </footer>

  </div>
</div>
